// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Basic styles for links
 */
a {
  color: white;
  text-decoration: underline;
  &:hover {
    color: $hover-red;
  }
  &:focus, &:active {
    outline: none;
    border: none;
  }
}

.head {
  position: relative;
}


.breadcrumbs {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  @media screen and (max-width: 364px) and (min-width: 0px) {
    font-size: 12px;
  }

  a {
    color: $black;
    text-decoration: none;
    font-weight: 600;
    img {
      margin: 0 1rem;
      @media screen and (max-width: 566px) and (min-width: 0px) {
        margin: 0 .5rem;
      }
    }

  }
}

body {
  &.iphone, &.safari {
    .breadcrumbs {
      position: unset;
    }
  }
}



a {
  &.btn-bordered {
    text-decoration: none;
  }
  .btn-bordered {
    text-decoration: none;
  }
}
.owl-carousel {
  .item {
    a {
      text-decoration: none;
    }
  }
}
.owl-carousel .owl-nav.disabled, .owl-carousel .owl-dots.disabled {
  display: block;
}
.team-building-info-carousel {
  .item {
    a {
      height: 100%;
      img {
        height: 100%;
      }
    }
  }
}
.workshop-carousel, .exchange-carousel, .team-building-info-carousel {
  &.owl-carousel {
    .owl-item {
      float: none;
      .item {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
    .owl-stage {
      display: flex;
    }
  }
}


.fancybox-content:not(.feedback):not(.feedback_desc):not(.feedback_brief):not(.trash-content):not(.regions-modal):not(.show-filters-content):not(.modal-success) {
  background-color: transparent;
  padding: 0;
  .image-zoom {
    display: none;
  }
  button {
    &[data-fancybox-close] {
      background-color: white;
      border-radius: 0 16px;
      svg {
        path {
          fill: #D84E52
        }
      }
    }
  }
  img {
    width: 100%;
    border-radius: 18px;
  }
}

.fancybox-content {
  &.feedback, &.feedback_desc, &.feedback_brief, &.trash-content, &.regions-modal, &.show-filters-content, &.modal-success  {
    padding: 24px 44px;
    button {
      &[data-fancybox-close] {
        padding: 3px;
        top: 15px;
        right: 15px;

      }
    }
  }
}

.fancybox-content.show-filters-content {
  padding: 10px;
  button {
    &[data-fancybox-close] {
      top: 0;
    }
  }
}



.owl-nav.disabled {
    display: none!important;
}

