.btn-red {
  background-color: $background-red;
  color: white;
  border-radius: 3rem;
  padding: 4px 17px;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  &:hover {
    background-color: $hover-red;
  }
  &:focus, &:active {
    background-color: $focus-red;
  }

}

.btn-bordered {
  border-radius: 30px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  line-height: 48px;
  cursor: pointer;
  background-color: transparent;
  &.filled {
    background-color: white;
    color: $red;
    border: 3px solid white;
    &:hover {
      background-color: $hover-red;
      border: 3px solid $hover-red;
    }
    &:focus {
      background-color: $focus-red;
      border: 3px solid $focus-red;
    }
  }
  &.filled-red {
    background-color: $background-red;
    color: white;
    border: 3px solid $background-red;
    &:hover {
      color: $hover-red;
      background-color: white;
    }
    &:focus {
      color: $focus-red;
      background-color: white;
      border: 3px solid $focus-red;

    }
    &-revert {
      background-color: white;
      color: $background-red;
      border: 3px solid $background-red;
      &:hover, &:focus {
        color: white;
        background-color: $background-red;
      }
      &.active {
        color: white;
        background-color: $background-red;
      }
    }
  }
  &.filled-red-filter {
    background-color: $background-red;
    color: white;
    border: 3px solid $background-red ;

    &:hover {
      color: $hover-red;
      background-color: white;
    }
    &:focus {
      color: $focus-red;
      background-color: white;
      border: 3px solid $focus-red;

    }

  }


  &.filled-gray {
    background-color: $gray-500;
    color: white;
    border: 3px solid $gray-500;
    &:hover {
      color: white;
      background-color: $gray-700;
      border: 3px solid $gray-700;
    }
    &:focus {
      color: white;
      background-color: $gray-800;
      border: 3px solid $gray-800;

    }
  }
  &.filled-light {
    background-color: white;
    color: $background-red;
    border: 3px solid white;
    &:hover {
      color: $hover-red;
    }
    &:focus {
      color: $focus-red;
    }
  }
  &.filled-light-2 {
    background-color: white;
    color: $background-red-light;
    border: 3px solid white;
    &:hover {
      background-color: $background-red;
      color: $hover-red;
    }
    &:focus {
      color: $focus-red;
    }
  }
  &.filled-service {
    border: 3px solid white;
    color: white;
    background-color: $background-red;
    &:hover {
      background-color: $hover-red;
      border: 3px solid $hover-red;
      color: $background-red;
    }
    &:focus {
      background-color: $focus-red;
      border: 3px solid $focus-red;
      color: $background-red;
    }
  }
  &.filled-service-light {
    border: 3px solid white;
    color: white;
    background-color: $background-red-light;
    &:hover {
      background-color: $hover-red;
      border: 3px solid $hover-red;
      color: $background-red;
    }
    &:focus {
      background-color: $focus-red;
      border: 3px solid $focus-red;
      color: $background-red;
    }
  }

  &.white {
    color: white;
    border: 3px solid white;
    &:hover {
      color: $hover-red;
      border-color: $hover-red;
    }
    &:focus {
      border-color: $focus-red;
      color: $focus-red;
    }

  }
  &.red {
    color: $background-red;
    border: 3px solid $background-red;
    &:hover {
      color: $hover-red;
      border-color: $hover-red;
    }
    &:focus {
      border-color: $focus-red;
      color: $focus-red;
    }

  }
  &.white-text {
    color: white;
    border: 3px solid white;
    &:hover {
      color: white;
    }
    &:focus {
      border-color: $focus-red;
      color: white;
    }
  }
  &.s-large {
    width: 408px;
    height: 70px;
    font-size: 23px;
    font-weight: 600;
    @media screen and (max-width: 1290px) and (min-width: 320px) {
      width: 90%;
    }
    @media screen and (max-width: 920px) and (min-width: 769px) {
      font-size: 18px;
    }
    @media screen and (max-width: 450px) and (min-width: 0px) {
      font-size: 16px;
      height: 50px;
      line-height: 45px;
    }

  }

  &.s-medium {
    width: 308px;
    height: 54px;
    font-size: 20px;
    font-weight: 600;
    @media screen and (max-width: 950px) and (min-width: 769px) {
      width: 250px;
      font-size: 16px;
    }
    @media screen and (max-width: 768px) and (min-width: 568px) {
      width: 378px;
      font-size: 22px;
    }
    @media screen and (max-width: 380px) and (min-width: 320px) {
      width: 100%;
      font-size: 18px;
      margin-left: 0;
    }
  }

  &.s-small {
    width: 217px;
    height: 48px;
    font-size: 18px;
    font-weight: 500;
    display: block;
    line-height: 43px;
    @media screen and (max-width: 950px) and (min-width: 769px) {
      font-size: 16px;
      width: 100%;
    }
    @media screen and (max-width: 768px) and (min-width: 700px) {
      font-size: 22px;
      width: 288px;
      height: 60px;
      line-height: 55px;
    }
    @media screen and (max-width: 699px) and (min-width: 568px) {
      font-size: 22px;
      width: 260px;
      height: 60px;
      line-height: 55px;
    }
    @media screen and (max-width: 567px) and (min-width: 553px) {
      width: 260px;
    }
    @media screen and (max-width: 552px) and (min-width: 500px) {
      min-width: 240px;
    }
    @media screen and (max-width: 429px) and (min-width: 0px) {
      width: 100%;
    }
  }
  &.s-content {
    width: 95%;
    height: 48px;
    font-size: 18px;
    font-weight: 500;
    display: block;
    line-height: 43px;
  }
  &.s-content-50 {
    width: 48%;
    height: 48px;
    font-size: 20px;
    font-weight: 500;
    display: block;
    line-height: 43px;

  }
  &.s-content-40 {
    width: 40%;
    height: 48px;
    font-size: 20px;
    font-weight: 500;
    display: block;
    line-height: 43px;

  }
  &.s-content-100 {
    width: 100%;
    height: 40px;
    font-size: 18px;
    font-weight: 500;
    display: block;
    line-height: 32px;

  }
  &.s-content-80 {
    width: 80%;
    height: 51px;
    font-size: 18px;
    font-weight: 500;
    display: block;
    line-height: 32px;

  }
  &.s-select {
    width: 240px;
    height: 48px;
    font-size: 18px;
    font-weight: 500;
    display: block;
    line-height: 43px;

  }
  &.s-select2 {
    width: 225px;
    height: 48px;
    font-size: 18px;
    font-weight: 500;
    display: block;
    line-height: 43px;

  }

}

.js-select {

  &.red {
    border: 3px solid $background-red;
    color: $background-red;
    .js-select_item {

      &:first-child {
        padding-right: 0;
        border-bottom: none;

        &:hover {
          color: $background-red;

        }
      }
    }
    &.collapsed {
      background-color: white;
      height: unset;
      overflow: auto;
      .js-select_item {
        &:first-child {
          border-bottom: 1px solid white;
        }
      }
    }
    &.selected {
      border: 3px solid $background-red;
      background-color: white;
      color: $background-red;
    }

  }
  &.s-medium {
    width: 240px;
    font-size: 18px;
    font-weight: 500;
    @media screen and (max-width: 950px) and (min-width: 769px) {
      font-size: 16px;
      width: 160px;
    }
    @media screen and (max-width: 768px) and (min-width: 568px) {
      font-size: 22px;
      width: 260px;
      height: 60px;
      line-height: 55px;
    }
    @media screen and (max-width: 429px) and (min-width: 0px) {
      width: 100%;
    }
  }
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  border: 3px solid white;
  border-radius: 30px;
  padding: 5px 10px;
  height: 48px;
  overflow: hidden;
  @media screen and (max-width: 950px) and (min-width: 769px) {
    font-size: 14px;
  }
  @media screen and (max-width: 768px) and (min-width: 568px) {
    height: 60px;
    font-size: 22px;
    line-height: 33px;
  }
  &.selected {
    border: 3px solid $focus-red;
    background-color: $focus-red;
  }
  &.collapsed {
    background-color: $background-red;
    height: unset;
    overflow: auto;
    .js-select_item {
      &:first-child {
        border-bottom: 1px solid white;
      }
    }
  }
  &_item {

    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px solid white;
    &:first-child {
      padding-right: 0;
      border-bottom: none;
      &:hover {
        color: white;
      }
    }
    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
    }
    .label {
      padding-left: 1rem;
    }
    .value {
      img {
        margin-left: 10px;
      }
    }
    &:hover {
      color: $hover-red;
    }

    &.center-value {
      display: block;
      .value {
        position: relative;
        text-align: center;

        img {
          position: absolute;
          right: 8px;
          top: 9px;
        }
      }
    }

  }
}


.select-area {
  .js-select2 {
    width: 100%;
    position: relative;
    margin-top: .2rem;


    .selected {
      border-bottom: 3px solid white;
      background: $background-red;
      display: flex;
      border-radius: 30px;
      border-top: 3px solid white;
      border-left: 3px solid white;
      border-right: 3px solid white;
      padding: .57rem 1rem .57rem .1rem;
      @media screen and (max-width: 768px) and (min-width: 568px) {
        padding: .9rem 1rem .9rem .1rem;
      }
      cursor: pointer;
      .value {

        flex: 100;
        text-align: left;
        border-radius: 2rem;
        color: white;
        font-size: 18px;
        font-weight: 500;
        @media screen and (max-width: 950px) and (min-width: 769px) {
          font-size: 16px;
        }
        @media screen and (max-width: 768px) and (min-width: 568px) {
          font-size: 22px;
        }
      }
      .init {
        display: none;
      }
      .arrow {
        flex: auto;
      }
    }
    .dropdown {
      display: none;
      left: 0;
      position: absolute;
      z-index: 100;
      background: $background-red;
      width: 100%;
      border-radius: 0 0 30px 30px;
      border-left: 3px solid white;
      border-right: 3px solid white;
      border-bottom: 3px solid white;
      text-align: center;
      color: white;
      font-size: 18px;
      @media screen and (max-width: 950px) and (min-width: 769px) {
        font-size: 16px;
      }
      @media screen and (max-width: 768px) and (min-width: 568px) {
        font-size: 22px;
      }
      font-weight: 500;
      margin-top: -3px;
      .option {
        padding: .5rem 1rem;
        cursor: pointer;
        &:hover {
          color: $hover-red
        }
        &:first-child {
          //padding: 0 1rem;
        }
        &:last-child {
          padding-bottom: .7rem;
        }
      }
    }

    &.collapsed {
      .selected {
        border-bottom: 3px solid transparent;
        border-radius: 30px 30px 0 0;
      }
      .dropdown {
        display: unset;
      }

    }



  }
}



.js-select2 {
  width: 240px;
  position: relative;
  &.s-small {
    width: 225px;
  }
  &.js-selected {
    .selected {
      background-color: $hover-red;
      border-color: $hover-red;
    }
  }


  @media screen and (max-width: 992px) {
    width: 230px;
  }

  .selected {
    border-bottom: 3px solid $background-red;
    background: white;
    display: flex;
    border-radius: 30px;
    border-top: 3px solid $background-red;
    border-left: 3px solid $background-red;
    border-right: 3px solid $background-red;
    padding: .57rem 1rem;
    cursor: pointer;
    .value {
      padding-left:  1rem;
      flex: 100;
      text-align: center;
      border-radius: 2rem;
      color: $background-red;
      font-size: 18px;
      font-weight: 500;
    }
    .init {
      display: none;
    }
    .arrow {
      flex: auto;
    }
  }
  .dropdown {
    display: none;
    position: absolute;
    z-index: 100;
    background: white;
    width: 100%;
    border-radius: 0 0 30px 30px;
    border-left: 3px solid $background-red;
    border-right: 3px solid $background-red;
    border-bottom: 3px solid $background-red;
    text-align: center;
    color: $background-red;
    font-size: 18px;
    font-weight: 500;
    margin-top: -3px;
    .option {
      padding: .5rem 1rem 0;
      cursor: pointer;
      border-top: 1px solid white;
      margin-left: .5rem;
      margin-right: .5rem;
      &:hover {
        color: $hover-red
      }
      &:first-child {
        //padding: 0 1rem;
      }
      &:last-child {
        padding-bottom: .7rem;
      }
    }
  }

  &.collapsed {
    .selected {
      border-bottom: 3px solid transparent;
      border-radius: 30px 30px 0 0;
    }
    .dropdown {
      display: unset;
    }

  }



}

.c-check {
  position: absolute;
  z-index: -1;
  opacity: 0;
  &+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    &::before {
      content: '';
      display: inline-block;
      width: 1.1em;
      height: 1.1em;
      flex-shrink: 0;
      flex-grow: 0;
      border: 1px solid #adb5bd;
      border-radius: 0.15em;
      margin-right: 0.5em;


    }
  }
  &:checked {
    &+label {
      &::after {
        content: url("../../assets/img/checked.svg");
        position: absolute;
        left: calc(1.5rem + 10px);
        margin-top: 2px;
      }
    }
  }
  &:not(:disabled):not(:checked)+label:hover::before {
    border-color: $hover-red;
  }
}

.to-top {
  display: none;
  position: fixed;
  cursor: pointer;
  bottom: 20px;
  right: 20px;
  z-index: 10000;
  &:hover {
    svg {
      path, circle {
        stroke: $hover-red;
      }
    }
  }
}


