/* для элемента input c type="radio" */
.custom-radio>input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
/* для элемента label связанного с .custom-radio */
.custom-radio>span {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
/* стили при наведении курсора на радио */
.custom-radio>input:not(:disabled):not(:checked)+span:hover {
  background-color: $hover-red;
  border-color: $hover-red;
}
/* стили для активной радиокнопки (при нажатии на неё) */
.custom-radio>input:not(:disabled):active+span {
  background-color: $focus-red!important;
  border-color: $focus-red!important;
}
/* стили для радиокнопки, находящейся в состоянии checked */
.custom-radio>input:checked+span {
  background-color: $focus-red!important;
  border-color: $focus-red!important;
}

.custom-checkbox {
  span {
    &.btn-bordered {
      color: white;
      border: 3px solid $background-red;
      background-color: $background-red;
      &:hover {
        background-color: $hover-red;
        border: 3px solid $hover-red;
      }

      &.filled-red-revert {
        background-color: white;
        color: $background-red;
        &:hover {
          background-color: $hover-red;
          border: 3px solid $hover-red;
          color: white;
        }
      }
    }
  }
}







/* для элемента input c type="checkbox" */
.custom-checkbox>input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

/* для элемента label, связанного с .custom-checkbox */
.custom-checkbox>span {
  display: inline-flex;
  align-items: center;
  user-select: none;
}


/* стили при наведении курсора на checkbox */
.custom-checkbox>input:not(:disabled):not(:checked)+span:hover {
  background-color: $hover-red;
  border: 3px solid $hover-red;
}

/* стили для активного чекбокса (при нажатии на него) */
.custom-checkbox>input:not(:disabled):active+span {
  background-color: $focus-red;
  border: 3px solid $focus-red;
}

/* стили для чекбокса, находящегося в фокусе */
.custom-checkbox>input:focus+span {
  border: 3px solid $focus-red;
}

/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.custom-checkbox>input:focus:not(:checked)+span {
  background-color: $focus-red;
  border: 3px solid $focus-red;
}

/* стили для чекбокса, находящегося в состоянии checked */
.custom-checkbox>input:checked+span {
  &.btn-bordered {
    background-color: $focus-red;
    border: 3px solid $focus-red;
    &.filled-red-revert {
      background-color: $focus-red;
      border: 3px solid $focus-red;
      color: white;
    }
  }
  background-color: $focus-red;
  border: 3px solid $focus-red;
}










form {
  &.modal-type {
    input {
      -webkit-appearance: none;
      width: 100%;
      height: 57px;
      margin-top: 1rem;
      border-radius: 40px;
      border: none;
      font-size: 18px;
      padding-left: 20px;
      padding-right: 20px;
      box-shadow: inset 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
      &:focus {
        outline: none;
        box-shadow: inset 0px 0px 4px 2px rgba(202, 77, 77, 0.3);
      }
      &+span {
        opacity: 0;
        transition: 200ms $transition-cubic;
        height: 0;
        font-size: 16px;
        color: $error-red;
        margin-left: 1.3rem;
        overflow: hidden;
      }
      &.required {
        &.error {
          box-shadow: none;
          border: 2px solid $error-red;
          &+span {
            transition: 200ms $transition-cubic;
            opacity: 1;
            height: 20px;
          }
        }
      }
      @media screen and (max-width: 992px) and (min-width: 769px) {

      }
    }
    textarea {
      -webkit-appearance: none;
      border-radius: 30px;
      box-shadow: inset 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
      width: 100%;
      border: none;
      font-size: 18px;
      padding: 10px 20px;
      &:focus {
        outline: none;
        box-shadow: inset 0px 0px 4px 2px rgba(177, 27, 32, 100);
      }
    }
  }

}


