$tag-width: 147px;
$tag-height: 29px;

.team-building-detail {

  .detail-card-footer {
    color: white;
    display: flex;
    background-color: $background-red;
    padding: 1.4rem;
    align-items: center;


    @media screen and (max-width: 566px) and (min-width: 320px){
      flex-direction: column;
      padding: 1rem;
    }
    @media screen and (max-width: 767px) and (min-width: 567px){
      flex-wrap: wrap;
    }
    @media screen and (max-width: 991px) and (min-width: 768px){
      padding: .3rem 1rem;
    }


    .watch-video {

      flex: .7;
      @media screen and (max-width: 767px) and (min-width: 567px){
        flex-basis: 50%
      }
      @media screen and (max-width: 566px) and (min-width: 320px){
        margin-bottom: .5rem;
      }
      @media screen and (max-width: 991px) and (min-width: 981px){
        flex: .9;
      }
      @media screen and (max-width: 991px) and (min-width: 980px){
        flex: .7;
      }


      img {
        margin-right: 1.2rem;
        @media screen and (max-width: 566px) and (min-width: 320px){
          width: 42px;
        }
        @media screen and (max-width: 991px) and (min-width: 768px){
          width: 42px;
        }
        @media screen and (max-width: 1180px) and (min-width: 992px){
          width: 49px;
        }
      }
      a {
        text-decoration: none;
        font-weight: 500;
        @media screen and (max-width: 991px) and (min-width: 768px){
          font-size: 12px;
        }
      }
    }
    .regions {

      @media screen and (max-width: 566px) and (min-width: 320px){
        width: 100%;
        margin-bottom: .5rem;
      }

      @media screen and (max-width: 767px) and (min-width: 567px){
        flex: 2;
        flex-basis: 50%
      }

      .work, .base {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .text {
          font-size: 16px;
          font-weight: 500;
          @media screen and (max-width: 991px) and (min-width: 320px){
            font-size: 14px;
          }
        }
        .button {

          .hide {
            @media screen and (max-width: 991px) and (min-width: 320px){
              display: none;
            }
          }
          .number {
            padding-left: .4rem;
          }

        }
      }
      .base {
        .button {
          cursor: pointer;
        }
      }
    }
    .card-tags {

      flex: 1;
      @media screen and (max-width: 767px) and (min-width: 567px){
        justify-content: space-between;
        margin-top: 1rem;
      }

      flex-flow: row wrap;
      justify-content: flex-end;
      @media screen and (max-width: 566px) and (min-width: 320px){
        justify-content: space-between;
      }

      display: flex;
      .item {

      }
    }

    .btn-card-footer {
      text-align: center;
      background-color: white;
      border: 2px solid white;
      font-size: 12px;
      font-weight: 600;
      width: 147px;
      height: 29px;
      color: $background-red;
      border-radius: 58px;
      margin: .5rem;

      @media screen and (max-width: 991px) and (min-width: 768px){
        margin: .5rem 0 .5rem .5rem;
      }

      @media screen and (max-width: 1180px) and (min-width: 567px){
        width: 110px;
        height: 22px;
        line-height: 18px;
        margin: .5rem 0;
      }

      @media screen and (max-width: 566px) and (min-width: 414px){
        margin: .5rem 0;
      }

      @media screen and (max-width: 413px) and (min-width: 375px){
        width: 140px;
        height: 24px;
        line-height: 20px;
        margin: .5rem 0;
      }

      @media screen and (max-width: 374px) and (min-width: 320px){
        width: 124px;
        height: 22px;
        line-height: 18px;
        margin: .5rem 0;
        font-size: 10px;
      }


      @media screen and (max-width: 1180px) and (min-width: 768px){
        margin: .5rem 0 .5rem .5rem;
      }

      &.bg-red {
        background-color: $background-red;
        color: white;
      }
    }
  }



  background-color: $gray-100;
  .breadcrumbs {
    padding-top: 1rem;
  }

  .team-building-card {
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin: 4rem 0;
    overflow: hidden;

    @media screen and (max-width: 1024px) and (min-width: 0px){
      margin: 2rem 0;
    }


    .image {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 50%;
      width: 100%;
      height: 100%;

      @media screen and (max-width: 768px) and (min-width: 566px){
        height: 280px;
      }
      @media screen and (max-width: 565px) and (min-width: 320px){
        height: 160px;
      }
    }
    .info {
      background-color: white;
      .title {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 32px;
        line-height: 39px;
        letter-spacing: 0.04em;
        @media screen and (max-width: 1439px) and (min-width: 992px){
          font-size: 22px;
        }
        @media screen and (max-width: 767px) and (min-width: 566px){
          font-size: 20px;
        }
      }
      .props {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @media screen and (max-width: 1439px) and (min-width: 992px){
          font-size: 14px;
        }
        .item {
          display: flex;
          align-items: center;
          font-weight: 600;
          img {
            padding-right: .4rem;
          }
        }
      }
      .desc {
        p {
          font-size: 18px;
          @media screen and (max-width: 1439px) and (min-width: 992px){
            font-size: 16px;
          }
        }
      }

      .buttons {
        .btn-bordered {
          width: 100%;
          font-size: 20px;
          font-weight: 600;
          @media screen and (max-width: 1439px) and (min-width: 992px){
            font-size: 18px;
          }
          @media screen and (max-width: 1137px) and (max-width: 1025px){
            font-size: 16px;
          }
          @media screen and (max-width: 913px) and (min-width: 767px){
            font-size: 16px;
          }
          @media screen and (max-width: 565px) and (min-width: 320px){
            font-size: 18px;
          }
          @media screen and (max-width: 474px) and (min-width: 321px){
            width: 170%;
          }
        }
      }
    }
    .actions {
      background-color: $background-red;
      color: white;
      padding: 2rem 2rem 2rem 0;
      @media screen and (max-width: 565px) and (min-width: 320px){
        padding: 1rem
      }
      .show-video {

        a {
          font-weight: 500;
          text-decoration: none;
          @media screen and (max-width: 1439px) and (min-width: 992px){
            font-size: 16px;
          }
          @media screen and (max-width: 991px) and (min-width: 768px){
            font-size: 14px;
          }
          @media screen and (max-width: 767px) and (min-width: 566px){
            font-size: 12px;
          }
          @media screen and (max-width: 565px) and (min-width: 320px){
            font-size: 14px;
          }
          img {
            padding: 0 1.4rem;
            @media screen and (max-width: 1439px) and (min-width: 566px){
              width: 49px;
              height: 49px;
              padding: 0;
              margin: 0 1rem;
            }
            @media screen and (max-width: 991px) and (min-width: 566px){
              width: 40px;
              height: 40px;
            }
          }
          &:hover {
            color: white;
          }
        }

      }
      .region {
        font-size: 16px;
        font-weight: 500;
        @media screen and (max-width: 991px) and (min-width: 768px){
          font-size: 14px;
        }
        @media screen and (max-width: 767px) and (min-width: 566px){
          font-size: 12px;
        }
        @media screen and (max-width: 565px) and (min-width: 320px){
          font-size: 14px;
        }
        &_work {
          margin-bottom: 16px;
          display: flex;
          justify-content: space-between;
          @media screen and (max-width: 1439px) and (min-width: 992px){
            justify-content: space-around;
          }


          span {
            display: block;
            text-align: center;
            line-height: 25px;
            color: white;
            font-size: 12px;
            font-weight: 600;
            background-color: $background-red;
            width: 147px;
            height: 29px;
            border-radius: 58px;
            border: 2px solid white;
            @media screen and (max-width: 1439px) and (min-width: 1101px){
              width: 127px;
              height: 25px;
              line-height: 22px;
            }
            @media screen and (max-width: 1100px) and (min-width: 320px){
              width: 107px;
              height: 23px;
              line-height: 19px;
            }
          }
        }
        &_base {
          display: flex;
          justify-content: space-between;

          @media screen and (max-width: 1439px) and (min-width: 992px){
            justify-content: space-around;
          }

          span {
            cursor: pointer;
            display: block;
            text-align: center;
            line-height: 25px;
            color: $background-red;
            font-size: 12px;
            font-weight: 600;
            background-color: white;
            width: $tag-width;
            height: $tag-height;
            border-radius: 58px;
            border: 2px solid white;
            @media screen and (max-width: 1439px) and (min-width: 1101px){
              width: 127px;
              height: 25px;
              line-height: 22px;
            }
            @media screen and (max-width: 1100px) and (min-width: 320px){
              width: 107px;
              height: 23px;
              line-height: 19px;

            }
            .hide {
              font-style: normal;
              @media screen and (max-width: 1439px) and (min-width: 320px){
                display: none;
              }
            }
          }
        }
      }
      .tags {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        @media screen and (max-width: 565px) and (min-width: 320px){
          justify-content: space-between;
        }
        .tag {
          text-align: center;
          line-height: 29px;
          color: $background-red;
          font-size: 12px;
          font-weight: 600;
          background-color: white;
          width: $tag-width;
          height: $tag-height;
          border-radius: 58px;
          margin-left: 1rem;
          margin-bottom: .5rem;
          margin-top: .5rem;
          @media screen and (max-width: 1439px) and (min-width: 1101px){
            width: 127px;
            height: 25px;
            line-height: 25px;
          }
          @media screen and (max-width: 1100px) and (min-width: 320px){
            width: 107px;
            height: 23px;
            line-height: 23px;
          }
          @media screen and (max-width: 991px) and (min-width: 768px){
            margin-left: .4rem;
          }
          @media screen and (max-width: 565px) and (min-width: 320px){
            margin-left: 0;
            width: 117px;
            height: 23px;
            line-height: 23px;
          }

        }
      }
    }
  }

  .team-building-info {
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 3rem;
    background-color: white;
    @media screen and (max-width: 415px) and (min-width: 0px) {
      padding: 2rem 1rem;
    }

    .title {
      font-size: 22px;
      margin-bottom: 2rem;
    }
    .desc {
      p {
        font-size: 18px;
      }
      &.li {
        p {
          padding-left: 2rem;
          &:before {
            content: url('../../assets/img/circle-red.svg');
            position: absolute;
            left: 1rem;

          }
        }
      }
    }
    .more {
      color: $background-red;
      cursor: pointer;
    }

    .task {
      background-color: $background-red;
      color: white;
      width: calc(100% + 6rem);
      margin-left: -3rem;
      padding: 2rem 3rem;
      margin-bottom: 2rem;
      @media screen and (max-width: 415px) and (min-width: 0px) {
        width: calc(100% + 2rem);
        margin-left: -1rem;

      }
    }
    .slider {
      @media screen and (max-width: 415px) and (min-width: 0px) {
        text-align: center;

      }
    }
  }

  .team-building-interesting {
    margin-top: 3rem;
    h2 {
      padding-bottom: 1rem;
      text-align: center;
      @media screen and (max-width: 768px) and (min-width: 568px) {
        font-size: 22px;
      }
      @media screen and (max-width: 567px) and (min-width: 320px) {
        font-size: 20px;
      }
      @media screen and (max-width: 556px) and (min-width: 321px) {
        font-size: 24px;
        margin-top: 2rem;
        padding-bottom: 0;
      }
      @media screen and (max-width: 320px) and (min-width: 0px) {
        font-size: 20px;
        margin-top: 2rem;
        padding-bottom: 0;

      }
    }
  }

  .workshop-footer {
    margin-top: 5rem;
    .provider {
      @media screen and (max-width: 1800px) and (min-width: 1440px) {
        max-width: 715px!important;
        margin: 0 auto;
      }
      @media screen and (max-width: 1439px) and (min-width: 1119px) {
        max-width: 715px!important;
        margin: 0 auto;
      }
      @media screen and (max-width: 1118px) and (max-width: 1025px) {
        max-width: 680px!important;
        margin: 0 auto;
      }
    }

    @media screen and (max-width: 1288px) and (max-width: 1025px) {
      .bg-left, .bg-right {
        background-size: 70%;
      }
      .bg-left {
        background-position: 0 20px;
      }
      .bg-right {
        background-position: 100% 20px;
      }
    }
  }


  .fancybox-content {
    padding: 0;
    .image-zoom {
      display: none;
    }
    .fancybox-close-small {
      background-color: rgba(255,255,255, 0.8);
      padding: 5px;
      width: 40px;
      height: 40px;
      border-radius: 0 16px;
      svg {
        width: 30px;
        height: 30px;
        path {
          fill: $background-red
        }
      }
    }
  }
  .fancybox-inner {
    .fancybox-infobar {
      position: absolute;
      color: white;
      top: 70%;
      left: calc(50% - 30px);
      font-size: 20px;
      font-weight: 600;

    }
  }
  .fancybox-navigation {
    .fancybox-button {
      background-color: transparent;
      &--arrow_left {
        left: 45%;
        @media screen and (max-width: 1100px) and (min-width: 0) {
          left: 40%;
        }
        svg {
          path {
            content: ' sd';
          }
        }
      }
      &--arrow_right {
        right: 45%;
        @media screen and (max-width: 1100px) and (min-width: 0) {
          right: 40%;
        }
      }
      &--arrow_right, &--arrow_left {
        position: absolute;
        top: calc(70% - 27px);
      }
    }
  }


}


















.team-building-info-carousel {
  width: calc(100% + 48px);
  @media screen and (max-width: 1439px) and (min-width: 321px) {
    width: calc(100% + 15px);
  }
  @media screen and (max-width: 420px) and (min-width: 0) {
    width: 100%;
  }
  .owl-stage-outer {
    padding-bottom: 1rem;
  }
  .item {

    text-align: center;
    padding: .4rem;

    .text {
      text-align: center;
      font-weight: 600;
      font-size: 22px;
      .title {
        font-size: 20px;
      }

    }
    img {
      width: 100%;
      border-radius: 16px;
      box-shadow: 0 0 4px 4px rgba(113, 47, 49, 0.25)
    }
    .image-zoom {
      width: 40px;
      background-color: rgba(255, 255, 255, 0.8);
      padding: 10px;
      border-radius: 0 16px;
      position: absolute;
      right: 6px;
      cursor: pointer;
    }
  }
  .owl-next, .owl-prev {
    span {
      font-size: 60px;
    }
  }
  .owl-nav {
    margin-left: -72px;
    margin-top: 20px;
    justify-content: space-between;
    @media screen and (max-width: 1439px) and (min-width: 321px) {
      margin-left: -15px;
    }
    @media screen and (max-width: 420px) and (min-width: 0) {
      margin-left: 0;
    }
    .owl-prev {
      margin-right: 45px;
    }
    .owl-next {
      margin-left: 45px;
    }
  }
  .owl-dots {
    margin-left: -72px;
    @media screen and (max-width: 1439px) and (min-width: 321px) {
      margin-left: -15px;
    }
    @media screen and (max-width: 420px) and (min-width: 0) {
      margin-left: 0;
    }
  }
  .owl-theme .owl-nav [class*='owl-']:hover {
    background: none;
    color: $hover-red;
    text-decoration: none;
  }
}

.regions-modal {
  padding: 2rem;
  @media screen and (min-width: 1440px){
    width: 80%;
  }
  display: none;
  .title {
    font-size: 22px;

  }
  .btn-bordered {
    width: 100%;
    margin-top: 1rem;
  }

  .search {
    max-width: 200px;
    display: flex;
    border: 2px solid $gray-500;
    padding: 0 1rem;
    border-radius: 2rem;
    align-items: center;
    width: 100%;
    margin-top: 0;
    @media screen and (max-width: 768px) and (min-width: 568px){
      width: 70%;
    }
    @media screen and (max-width: 567px) and (min-width: 0px){
      width: 80%;
    }

    .image {
      flex: .2;
      img {
        cursor: pointer;
      }
    }
    form {
      display: flex;
      flex: 20;
      padding-right: 0;
      min-height: 31px;
      input {
        border: none;
        background-color: transparent;
        width: 100%;
        padding-left: 1rem;
        &:focus {
          outline: none;
          border: none;
        }
        &::placeholder {
          color: $gray-500;
          text-align: center;
          margin-left: 2.5rem;
          font-size: 12px;
        }
      }
    }

  }
}


