<footer class="footer">
    <div class="container">
        <div class="footer_menu">
          <div class="item"><a href="/team-building.html">Тимбилдинг</a></div>
          <div class="item"><a href="/offline.html">Оффлайн</a></div>
          <div class="item"><a href="/online.html">Онлайн</a></div>
          <div class="item"><a href="/workshop.html">Мастерская</a></div>
          <div class="item"><a href="/exchange.html">Биржа идей</a></div>
          <div class="item"><a href="/service.html">Как работает сервис</a></div>
          <div class="item"><a href="/blog.html">Блог</a></div>
        </div>
      <div class="footer_content justify-content-between">
        <div class=""><img src="assets/img/logo-footer.svg" alt=""></div>
        <div class="text">
          <p>Использование сайта означает согласие
            с <a href="">Политикой конфиденциальности GAME4EVENT</a></p>
          <p>&copy; 2020 - 2021</p>
        </div>
        <div class="contacts">
          <div class="row">
            <div class="col-md-auto col-6 insta" ><a href="https://instagram.com"><img src="assets/img/instagram.svg"></a></div>
            <div class="col-md-auto col-6 vk pl-lg-0"><a href="https://vk.com"><img src="assets/img/vk.svg"></a></div>
            <div class="col-md col-sm-12">
              <div class="mail"><a href="mailto:info@game4event.ru">info@game4event.ru</a></div>
              <div class="phone"><a href="tel:+79606121241">+7 960 612 12 41</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
</footer>
<div class="trash-content">
  <div class="title">Корзина</div>
  <div class="section">
    <div class="title">Программы</div>
    <div class="content">
      <div class="item">
        <div class="image" style="background-image: url('assets/img/trash-image.png')">
          <div class="detail"><a href="">Подробнее</a></div>
        </div>
        <div class="delete"><img src="/assets/img/trash-delete-item.svg" alt=""></div>
        <div class="name">Название прораммы Название прораммы Название прораммы Название прораммы Название прораммы</div>
      </div>
      <div class="item">
        <div class="image" style="background-image: url('assets/img/trash-image.png')">
          <div class="detail"><a href="">Подробнее</a></div>
        </div>
        <div class="delete"><img src="/assets/img/trash-delete-item.svg" alt=""></div>
        <div class="name">Название прораммы название прорамм</div>
      </div>
      <div class="item add">
        <a href="">
          <div class="title">Добавить программу</div>
          <div><img src="/assets/img/trash-add.svg" alt=""></div>
        </a>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="title">Оборудование</div>
    <div class="content">
      <div class="item">
        <div class="image" style="background-image: url('assets/img/trash-image.png')">
          <div class="detail"><a href="">Подробнее</a></div>
        </div>
        <div class="delete"><img src="/assets/img/trash-delete-item.svg" alt=""></div>
        <div class="name">Название прораммы название прораммы</div>
      </div>
      <div class="item add">
        <a href="">
          <div class="title">Добавить программу</div>
          <div class="image-add">
            <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="20" cy="20" r="19.1" stroke="#CBCBCB" stroke-width="1.8"/>
              <path d="M11 20H29" stroke="#CBCBCB" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M20 11L20 29" stroke="#CBCBCB" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="title">Идеи</div>
    <div class="content">
      <div class="item add">
        <a href="">
          <div class="title">Добавить программу</div>
          <div><img src="/assets/img/trash-add.svg" alt=""></div>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="feedback">
  <div class="title">Оставьте заявку</div>
  <div class="desc">Менеджер свяжется с вами в ближайшее время</div>
  <form class="modal-type" action="">
    <div class="input-group"><input class="required" type="text" name="town" placeholder="Город"></div>
    <div class="input-group"><input class="required" type="text" name="name" placeholder="Имя"></div>
    <div class="input-group"><input class="required" type="email" name="email" placeholder="E-mail"></div>
    <div class="input-group"><input class="required" type="tel" name="phone" placeholder="Телефон"></div>
    <button class="btn-bordered filled-red s-content-50 mt-4" type="submit">Отправить заявку</button>
  </form>
</div>
<div class="feedback_desc">
  <div class="title">Оставьте заявку</div>
  <div class="desc">Менеджер свяжется с вами в ближайшее время</div>
  <form class="modal-type" action="">
    <div class="input-group"><input class="required" type="text" name="town" placeholder="Город"></div>
    <div class="input-group"><input class="required" type="text" name="name" placeholder="Имя"></div>
    <div class="input-group"><input class="required" type="email" name="email" placeholder="E-mail"></div>
    <div class="input-group"><input class="required" type="tel" name="phone" placeholder="Телефон"></div>
    <div><textarea name="message" placeholder="Описание..." rows="4"></textarea></div>
    <button class="btn-bordered filled-red s-content-50 mt-4" type="submit">Отправить заявку</button>
  </form>
</div>
<div class="feedback_brief">
  <div class="title">Оставьте заявку</div>
  <div class="desc">Менеджер свяжется с вами в ближайшее время</div>
  <form class="modal-type" action="">
    <div class="input-group"><input class="required" type="date" name="date" placeholder="Планируемая дата"></div>
    <div class="input-group"><input class="required" type="number" name="count" placeholder="Количество участников"></div>
    <div class="input-group"><input class="required" type="text" name="task" placeholder="Задача"></div>
    <div class="input-group"><input class="required" type="text" name="town" placeholder="Город"></div>
    <div class="input-group"><input class="required" type="text" name="name" placeholder="Имя"></div>
    <div class="input-group"><input class="required" type="email" name="email" placeholder="E-mail"></div>
    <div class="input-group"><input class="required" type="tel" name="phone" placeholder="Телефон"></div>
    <button class="btn-bordered filled-red s-content-50 mt-4" type="submit">Отправить заявку</button>
  </form>
</div>

<!-- build:js -->
<script src="{{root}}assets/vendor/js/jquery.js"></script>
<script src="{{root}}assets/vendor/js/popper.js"></script>
<script src="{{root}}assets/vendor/js/bootstrap.js"></script>
<script src="{{root}}assets/vendor/js/owl.carousel.min.js"></script>
<script src="{{root}}assets/vendor/js/jquery.fancybox.min.js"></script>
<script src="{{root}}assets/vendor/js/select2.min.js"></script>
<script src="{{root}}assets/js/util/autoPadding.js"></script>
<script src="{{root}}assets/js/util/crossPlatform.js"></script>
<script src="{{root}}assets/js/main.js"></script>
<!-- endbuild -->
