<div class="menu-container">
  <nav class="container">
    <div class="row top-menu-container align-items-center justify-content-between">
      <div class="col-auto logo"><a href="/"><img src="assets/img/g4e.svg" alt=""></a></div>
      <div class="col-md-auto top-menu">
        <div class="menu-item"><a href="/team-building.html">Весь тимбилдинг</a></div>
        <div class="menu-item"><a href="/service.html">Как работает сервис</a></div>
        <div class="menu-item"><a href="/workshop.html">Мастерская</a></div>
        <div class="menu-item"><a href="/exchange.html">Биржа идей</a></div>
        <div class="menu-item"><a href="/blog.html">Блог</a></div>
      </div>
      <div class="col-xl-auto col-lg-6 col-sm-4 col-4 contacts-container">
        <div class="contacts">
          <div class="phone"><a href="tel:88002504272">8 800 250 42 72</a></div>
          <div id="show_form_feedback" class="btn-red">Оставить заявку</div>
        </div>
        <div class="phone-mobile">
          <a href="tel:88002504272"><img src="assets/img/call.svg" alt=""></a>
        </div>
      </div>
      <div class="hamburger hamburger--collapse">
        <div class="hamburger-box">
          <div class="hamburger-inner"></div>
        </div>
      </div>
      <div class="hide-menu">
        <div class="menu-item"><a href="/team-building.html">Весь тимбилдинг</a></div>
        <div class="menu-item"><a href="/service.html">Как работает сервис</a></div>
        <div class="menu-item"><a href="/workshop.html">Мастерская</a></div>
        <div class="menu-item"><a href="/exchange.html">Биржа идей</a></div>
        <div class="menu-item"><a href="/blog.html">Блог</a></div>
      </div>
    </div>
  </nav>
</div>
<div class="trash"><img src="assets/img/trash.svg" alt=""><span class="count">2</span></div>
