<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>{{title}} - </title>
    <link rel="stylesheet" href="{{root}}assets/vendor/css/owl.carousel.css">
    <link rel="stylesheet" href="{{root}}assets/vendor/css/owl.theme.default.css">
    <link rel="stylesheet" href="{{root}}assets/vendor/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="{{root}}assets/vendor/css/hamburgers.css">
    <link rel="stylesheet" href="{{root}}assets/css/main.css">
    <link rel="stylesheet" href="{{root}}assets/css/rtl.css">
		<link rel="stylesheet" href="{{root}}assets/fonts/font-awesome5.css">
</head>

<body>
    {{> navigation}}
    <main role="main">
        {{> body}}
    </main>
    {{> footer}}
</body>

</html>
